html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #FFEBCD;    
} 

nav {
    background: #B473AC
}

.dropdown-item {
    /* background-color: white; */
    background-color:#FFEBCD;
}

.dropdown-menu{
    color: white;
    background-color:#FFEBCD;
}
.navbar-brand{
    /* display: inline-block; */
    /* align-self: row; */
    text-align: left;
    color: white;
}
.a.dropdoown{
    background-color:white;
}

.title{
    color:white;
    font-size: 35px;
}
.foodDonation{
    padding-top:10px
}
.amityCard{
    background-color: plum;
    padding-top: 10px;
    height: 100%;
    margin-bottom: 20px;
}

.top{
    padding-left: 15px;
    width: 250px;
}

/* .card-body{
    padding: 0px;
    
} */

/* 
a:visited {
    color: black;
}  */

.card-end{
    visibility: hidden;
}

.card-body{
    background-color: plum;
    text-align:center;
}