html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #FFEBCD;    
} 

nav {
    background: #B473AC
}

.logo-image{
    width: 4;
    height: 4;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}


#logoName{
    size: 32px;
    
}

.a.dropdoown{
    background-color:white;
    
}

#HomeLogo{
    display: inline;
    padding-top: 75px;
    padding-left: 50px;
    position: relative;
}

#HomeAbout{
    display: inline-block;
    width: 60%;
    /* border: 5px solid green; */
    margin: 20px;
    font-size: 12px;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}

/* .HomeCenter{
    display: inline-block;
} */

.navbar-brand{
    /* display: inline-block; */
    /* align-self: row; */
    text-align: left;
    color: white;
    
    
}

.dropdown-item {
    /* background-color: white; */
    background-color:#FFEBCD;
}

.dropdown-menu{
    color: white;
    background-color:#FFEBCD;
}

#HomeCenter{
    display: block;
    align-self: row;
    justify-content: center;
}

h3{
    text-align: center;
    padding-top: 50px;
}
img{
    position: center;
}

